/* ###### 8.1 Dashboard One  ###### */

.az-content-dashboard {
  padding-top: 20px;
  @media (min-width: 992px) { padding-top: 30px; } // Replace media-breakpoint-up(lg)
}

.az-dashboard-one-title {
  margin-bottom: 20px;

  @media (min-width: 576px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  } // Replace media-breakpoint-up(sm)

  @media (min-width: 992px) { margin-bottom: 30px; } // Replace media-breakpoint-up(lg)
}

.az-dashboard-title {
  font-size: 22px;
  font-weight: 700;
  color: $gray-900;
  letter-spacing: -1px;
  margin-bottom: 3px;
}

.az-dashboard-text {
  font-size: 13px;
  margin-bottom: 0;
}

.az-dashboard-date {
  display: flex;
  align-items: center;
  margin-top: 20px;

  @media (min-width: 576px) { margin-top: 0; } // Replace media-breakpoint-up(sm)

  .date {
    display: flex;

    > div:first-child {
      font-size: 32px;
      font-family: Arial, sans-serif;
      font-weight: 500;
      color: $gray-900;
      line-height: .9;

      @media (min-width: 768px) { font-size: 36px; } // Replace media-breakpoint-up(md)
    }

    > div:last-child {
      margin-left: 5px;

      span {
        display: block;
        color: $gray-900;
        font-weight: 700;
        font-size: 12px;
        line-height: 1.2;
        letter-spacing: -.5px;

        @media (min-width: 768px) { font-size: 13px; } // Replace media-breakpoint-up(md)

        &:last-child {
          color: $gray-600;
          font-weight: 400;
        }
      }
    }
  }

  > i {
    font-size: 21px;
    line-height: 0;
    display: block;
    margin: 0 15px;
    color: $gray-500;

    @media (min-width: 768px) {
      margin: 0 20px;
      font-size: 24px;
    } // Replace media-breakpoint-up(md)
  }
}

.az-dashboard-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $gray-300;
  margin-bottom: 20px;

  .nav-link {
    font-size: 12px;
    padding: 5px 10px 8px;
    display: flex;
    align-items: center;
    line-height: 1;

    @media (min-width: 576px) { font-size: $font-size-base; } // Replace media-breakpoint-up(sm)
    @media (min-width: 992px) { padding: 5px 15px 10px; } // Replace media-breakpoint-up(lg)

    &:hover, &:focus { color: $az-color-primary; } // Replace hover-focus()

    + .nav-link { border-left: 1px solid $gray-300; }
  }

  .nav:first-child {
    .nav-link {
      color: $gray-900;
      display: none;

      @media (min-width: 576px) { display: block; } // Replace media-breakpoint-up(sm)

      &:hover, &:focus { color: $az-color-primary; } // Replace hover-focus()

      &.active { color: $az-color-primary; }

      &:first-child { padding-left: 0; }

      &:first-child,
      &:last-child {
        display: block;
      }
    }
  }

  .nav:last-child {
    .nav-link {
      color: $gray-700;
      display: none;

      @media (min-width: 768px) { display: block; } // Replace media-breakpoint-up(md)

      &:hover, &:focus { color: $az-color-primary; } // Replace hover-focus()

      i {
        font-size: 16px;
        margin-right: 7px;
        line-height: 0;
      }

      &:last-child {
        padding-right: 0;
        display: block;

        i { margin-right: 0; }

        @media (min-width: 768px) { display: none; } // Replace media-breakpoint-up(md)
      }
    }
  }
}

.card-dashboard-one {
  position: relative;
  border-color: $gray-300;

  .card-header {
    padding: 20px;
    background-color: transparent;

    @media (min-width: 576px) {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    } // Replace media-breakpoint-up(sm)

    .card-title {
      color: $gray-900;
      font-weight: 700;
      font-size: 14px;
      line-height: 1;
      margin-bottom: 3px;
    }

    .card-text {
      margin-bottom: 0;
    }

    .btn-group {
      margin-top: 15px;
      @media (min-width: 576px) { margin-top: 0; } // Replace media-breakpoint-up(sm)

      .btn {
        font-size: 12px;
        font-weight: 500;
        padding: 5px 10px;
        min-height: inherit;
        background-color: #fff;
        color: $gray-600;
        border: 1px solid $gray-300;

        &:hover, &:focus {
          background-color: $gray-100;
          border-color: $gray-300;
        } // Replace hover-focus()

        + .btn { margin-left: -1px; }

        &.active {
          color: $gray-900;
          background-color: $gray-200;
          border-color: $gray-300;
        }
      }
    }
  }

  .card-body {
    padding: 10px 0 20px;
    position: relative;
    overflow: hidden;

    .flot-chart-wrapper {
      position: relative;
      margin-left: -28px;
      margin-right: -20px;
    }

    .flot-chart {
      width: 100%;
      height: 150px;

      @media (min-width: 576px) { height: 275px; } // Replace media-breakpoint-up(sm)
      @media (min-width: 992px) { height: 252px; } // Replace media-breakpoint-only(lg)

      .flot-y-axis > div {
        transform: translateX(50px);
        text-shadow: 1px 1px rgba(#fff, .75);
        color: $body-color;
        font-weight: 700;
        font-size: 11px;
      }

      .flot-x-axis > div {
        color: $gray-500;
        font-weight: 500;
        font-size: 11px;
      }
    }
  }

  .card-body-top {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-left: 20px;

    @media (min-width: 576px) {
      position: absolute;
      top: -5px;
      left: 20px;
      z-index: 5;
      padding-left: 0;
    } // Replace media-breakpoint-up(sm)

    > div {
      flex-basis: 50%;
      @media (min-width: 576px) { flex-basis: auto; } // Replace media-breakpoint-up(sm)

      + div {
        @media (min-width: 576px) { margin-left: 30px; } // Replace media-breakpoint-up(sm)
      }
    }

    label {
      font-size: 12px;
      margin-bottom: 3px;

      @media (min-width: 576px) { font-size: $font-size-base; } // Replace media-breakpoint-up(sm)
    }

    h2 {
      font-size: 20px;
      font-weight: 600;
      font-family: 'Archivo', $font-family-base;
      color: $gray-900;

      @media (min-width: 576px) {
        font-size: 24px;
        letter-spacing: -.5px;
      } // Replace media-breakpoint-up(sm)
    }
  }
}

.page-view-chart-wrapper {
  @media (min-width: 1200px) { height: 330px; margin-top: -56px; } // Replace media-breakpoint-up(xl)
}

.sessions-chart-wrapper {
  @media (min-width: 1200px) { height: 180px; width: 80%; } // Replace media-breakpoint-up(xl)
}
