@mixin accordion-variant($color) {
  --bs-accordion-active-bg: #{$color};
  --bs-accordion-active-color: #{$white};
  --bs-accordion-btn-focus-border-color: #{lighten($color, 25%)};
  --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba($color, 0.25);
}
