// Import the sass:math module at the top of the file
@use 'sass:math';

// Ion Rangeslider Skins
@mixin irs-color-variant($color) {
  .irs-bar,
  .irs-bar-edge,
  .irs-slider::before {
    background-color: $color;
  }

  .irs-from,
  .irs-to,
  .irs-single {
    background-color: $color;

    &::after {
      border-top-color: $color;
    }
  }
}

@mixin irs-modern-slider-variant($color) {
  .irs-slider {
    border-color: $color;

    &::before {
      border-color: $color;
    }
  }
}

@mixin irs-outline-variant($color) {
  .irs-line,
  .irs-slider {
    border-color: $color;

    &:hover,
    &:focus {
      &::before {
        background-color: darken($color, 5%);
      }
    }
  }
}

@mixin donut-chart(
  $name,
  $perc,
  $size,
  $width,
  $base,
  $center,
  $color,
  $textColor: $color,
  $textSize: 40px
) {
  $deg: math.div($perc, 100) * 360 + deg;
  $deg1: 90deg;
  $deg2: $deg;

  // If percentage is less than 50%
  @if $perc < 50 {
    $base: $color;
    $color: $base;
    $deg1: math.div($perc, 100) * 360 + 90deg;
    $deg2: 0deg;
  }

  .az-donut-chart {
    &#{$name} {
      width: $size;
      height: $size;
      background: $base;

      .slice {
        &.one {
          clip: rect(0, $size, math.div($size, 2), 0);
          transform: rotate($deg1);
          background: $color;
        }

        &.two {
          clip: rect(0, math.div($size, 2), $size, 0);
          transform: rotate($deg2);
          background: $base;
        }
      }

      .chart-center {
        top: $width;
        left: $width;
        width: $size - (math.div($width, 2) * 2);
        height: $size - (math.div($width, 2) * 2);
        background: $center;

        span {
          font-size: $textSize;
          line-height: $size - (math.div($width, 2) * 2);
          color: $textColor;

          &:after {
            content: '#{$perc}%';
          }
        }
      }
    }
  }
}

// Define the hover-focus mixin
@mixin hover-focus {
  &:hover,
  &:focus {
    @content;
  }
}
